<%= form_for @new, remote: true do |f| %>
  <% if @new.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@new.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
      <% @new.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :read %><br />
    <%= f.check_box :read %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
