<script type="text/javascript">
  $(document).ready(function(){
    $('ul li:first').effect('highlight')
  });
</script>
<h3>Listing Links</h3>

<ul>
  <% @links.each do |l| %>
    <%= div_for l do%>
      <li><%= link_to 'Delete', l, method: :delete, remote: true %> - <%= auto_link(l.name) %></li>
    <% end %>  
  <% end %>
</ul>

<br />

<%= render 'form' %>
<%= link_to 'New Link', new_link_path %>
